<input type="text" [(ngModel)]="title" />
{{ title }}

<button (click)="addItem()">Add item</button>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'lore'">Esta es lore</p>
  <p *ngSwitchCase="'mathias'">Este es mathias</p>
  <p *ngSwitchCase="'vania'">Esta es vania</p>
  <p *ngSwitchDefault>No hay match</p>
</div>

<ul>
  <li *ngIf="items.length < 1">La lista esta vacia</li>
  <li *ngFor="let name of items; index as i">
    {{ i }}{{ " " }}{{ name }}
    <button (click)="deleteItem(i)">Delete item</button>
  </li>
</ul>

<div *ngFor="let product of products">
  <app-product
    [product]="product"
    (productClicked)="clickProduct($event)"
  ></app-product>
</div>
