.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10%;
  margin-top: 2%;
}

.contact {
  display: flex;
  margin-top: 3%;
  align-items: baseline;
  justify-content: space-evenly;
}

.box-size {
  width: 100%;
}

.format-text {
  display: flex;
  margin-top: 6%;
  margin-right: 10%;
  justify-content: flex-end;
}
