<mat-toolbar color="primary" class="footer">
  <mat-toolbar-row>
    <div class="format-text">By loreliz 2021</div>
    <div class="contact">
      <h3>Contacto</h3>
      <mat-form-field>
        <input
          matInput
          placeholder="Digite su correo"
          [formControl]="emailField"
          type="email"
        />
      </mat-form-field>
      <!-- {{ emailField.valid }} , {{ emailField.invalid }} -->
      <button mat-raised-button [disabled]="emailField.invalid" (click)="sendMail()">
        Enviar
      </button>
      <p *ngIf="emailField.invalid">El campo no es válido</p>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
